
@{
    ViewData["Title"] = "Customer Login Attempts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Customer Login Attempts</h1>

    <ejs-grid id="Grid"
              allowResizing="true"
              dataSource="@ViewBag.DataSource"
              allowPaging="true"
              allowSorting="true"
              allowFiltering="true"
              allowGrouping="true"
              allowExcelExport="true"
              allowPdfExport="true"
              toolbarClick="toolbarClick"
              toolbar="@(new List<string>() { "Search","ExcelExport","PdfExport" })">
        <e-grid-pagesettings pageSizes="true" pageSize="20"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-column field="DateTime" headerText="DateTime" width="250"></e-grid-column>
            <e-grid-column field="IsSuccess" headerText="Success" width="110"></e-grid-column>
            <e-grid-column field="IncorrectPassword" headerText="Incorrect Password" width="170"></e-grid-column>
            <e-grid-column field="IsExpired" headerText="Expired" width="100"></e-grid-column>
            <e-grid-column field="LockedAccount" headerText="Locked Account" width="150"></e-grid-column>
            <e-grid-column field="CustomerID" headerText="Customer ID"></e-grid-column>
            <e-grid-column field="IdentificationChannel" headerText="Identification Channel"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>

<script>
    function toolbarClick(args) {
        var gridObj = document.getElementById("Grid").ej2_instances[0];

        if (args.item.id === 'Grid_pdfexport') {
            var exportProperties = {
                header: {
                    fromTop: 0,
                    height: 130,
                    contents: [
                        {
                            type: 'PageNumber',
                            pageNumberType: 'Arabic',
                            format: 'Page {$current} of {$total}', //optional
                            position: { x: 0, y: 50 },
                            style: { textBrushColor: '#000000', fontSize: 11, hAlign: 'Center' }
                        },
                        {
                            type: 'Line',
                            style: { penColor: '#000080', penSize: 2, dashStyle: 'Solid' },
                            points: { x1: 0, y1: 30, x2: 685, y2: 30 }
                        },
                        {
                            type: 'Text',
                            value: "eLogin - Customers Login Attempts Report",
                            position: { x: 0, y: 0 },
                            style: { textBrushColor: '#000000', fontSize: 18 }
                        },
                        {
                            type: 'Text',
                            value: "" + new Date(),
                            position: { x: 0, y: 35 },
                            style: { textBrushColor: '#000000', fontSize: 11, hAlign: 'Center' }
                        },
                    ]
                },
                pageOrientation: 'Landscape',
            };

            gridObj.pdfExport(exportProperties);
        }
        if (args.item.id === 'Grid_excelexport') {
            gridObj.excelExport();
        }
    }
</script>