@page
@model ExternalLoginsModel
@{
    ViewData["Title"] = "Manage your external logins";
    ViewData["ActivePage"] = ManageNavPages.ExternalLogins;
}

<partial name="_StatusMessage" for="StatusMessage" />
@if (Model.CurrentLogins?.Count > 0)
{
    <h4>Registered Logins</h4>
   
}
@if (Model.OtherLogins?.Count > 0)
{
    <h4>Add another service to log in.</h4>
    <hr />
    <form Id="link-login-form" asp-page-handler="LinkLogin" method="post" class="form-horizontal">
        <div Id="socialLoginList">
            <p>
                @foreach (var provIder in Model.OtherLogins)
                {
                    <button Id="link-login-button" type="submit" class="btn btn-primary" name="provIder" value="@provIder.Name" title="Log in using your @provIder.DisplayName account">@provIder.DisplayName</button>
                }
            </p>
        </div>
    </form>
}