@model eLogin.Models.License
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>License Manager</h1>
<p class="text-success">New license has been successfully imported.</p>

<br />
<p class="text-danger">@ViewBag.Error</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-valIdation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label">Customer Name</label>
                <input asp-for="CustomerName" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LicenseType" class="control-label">License Type</label>
                <input asp-for="LicenseType" readonly class="form-control" />
            </div>
            <div class="form-group" style="@(Model.LicenseType!="Perpetual" ? "display:block" : "display:none")">
                <label asp-for="ExpiryDate" class="control-label">License Expiration Date</label>
                <input asp-for="ExpiryDate" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MaxChannels" class="control-label">Identification Channels</label>
                <input asp-for="MaxChannels" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MaxUsers" class="control-label">Local eLogin Users</label>
                <input asp-for="MaxUsers" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CustomerRepository" class="control-label">Customer Repository</label>
                <input asp-for="CustomerRepository" readonly class="form-control" disabled/>
            </div>
        </form>
    </div>
</div>