@model eLogin.Models.Identity.User

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="EmailAddress" class="control-label">
                    @Html.DisplayNameFor(m => m.EmailAddress)
                    <input asp-for="EmailAddress" class="form-control" readonly />
                </label>
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>
       
        <div class="form-group" hidden>
                <div class="form-group">
                <label asp-for="SecurityStamp" class="control-label" hidden>
                    @Html.DisplayNameFor(m => m.SecurityStamp)
                    <input asp-for="SecurityStamp" class="form-control" hidden readonly />
                </label>
            <span asp-validation-for="SecurityStamp" class="text-danger" hidden></span>
        </div>
     
            <div class="form-group">


                    <label asp-for="Roles" class="control-label" hidden>
                        @Html.DisplayNameFor(m => m.Roles)
                        <ejs-multiselect id="default" ejs-for="Roles" dataSource="@ViewData["Roles"]" placeholder="Select Roles" mode="Default"></ejs-multiselect>
                    </label>
             
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

